<style>
            h1 {
                color: blue;
            }
            img {
                width: 400px;
            }
            #thirdDiv {
                height: 600ps;
                width: 500px;
                background: black;
                padding: 50px;
                border: thick double white;
            }
            #spanId {
                font-size: 18px;
                margin: 50px;
            }
        </style>